body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'Poppins', sans-serif;

    overflow: auto;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.5s ease;
}


header {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
}

.navbar-toggler {
    border: 0;
}

.navbar {
    --bs-navbar-toggler-focus-width: none;
}

button {
    border: none;
}

.navbar {
    position: fixed;
    top: 0;
    align-self: center;
    width: 100%;
}

.navbar-brand {
    font-size: 1.5em;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.navbar .navbar-collapse {
    text-align: center;
    vertical-align: baseline;
    border: 0;
}

.nav-link {
    color: #000000;
    font-size: 1.2em;
    font-weight: normal;
    transition: transform 0.2s ease-in-out;
}

.nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.2s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}


.navbar-color {
    background: linear-gradient(to bottom, rgb(245, 245, 245), rgb(247, 247, 247));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/*GESTIONE DELLE CARD PER LE SKILL SECTION*/
.skill-section {
    box-shadow: 2px 3px 5px 1px rgba(0.1, 0.1, 0.1, 0.1);
    border-radius: 15px;
    padding: 15px;
    transition: transform 0.5s ease;
}

.skill-items {
    justify-content: center;
    align-items: center;
}

.skill-item {
    width: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 10px;

}

.skill-section:hover {
    transform: scale(1.05);
}

.skill-item img {
    max-height: 40px;
    width: auto;
    margin: 0px;
}

.skill-item p {
    font-size: 13px;
    margin: 0;
}

/*GESTIONE DELLE CARD PER I PROGETTI SECTION*/
.project-section {
    position: relative;
    box-shadow: 2px 3px 5px 1px rgba(0.1, 0.1, 0.1, 0.1);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
    height: 100%;
}

.project-section:hover {
    transform: scale(1.05);
}

.project-header {
    display: flex;
    align-items: center;
}


.project-description {
    font-size: 0.85em;
    text-align: justify;
}


.project-button-container {
    align-self: flex-end;
    margin-top: auto;
}

.btn-more {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 4px 8px;
    font-size: 12px;
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    transition: background-color 0.5s, color 0.5s;
}

.btn-more:hover {
    background-color: black;
    color: #fff;
}

.btn-more:hover span {
    background-color: rgb(255, 255, 255);
    color: #000000;
}

.btn-more span {
    font-size: 15px;
    font-weight: bold;
    background-color: black;
    border-radius: 50px;
    padding: 3px;
    margin-left: 5px;
    color: #fff;
    transition: background-color 0.5s, color 0.5s;
}


/*GESTIONE DELLE CARD PER LE WORK SECTION*/
.career-section {
    box-shadow: 2px 3px 5px 1px rgba(0.1, 0.1, 0.1, 0.1);
    border-radius: 15px;
    padding: 15px;
    transition: transform 0.5s ease;
}

.career-section:hover {
    transform: scale(1.05);
}

.career-body {
    display: flex;
    align-items: top;
}

.career-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.career-details>* {
    margin-top: 0;
    margin-bottom: 0;
}


.career-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50px;
}

.career-title {
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;
}

.career-subtitle {
    font-size: 1em;
    text-align: left;
}

.career-period,
.career-place {
    font-size: 0.9em;
    text-align: left;
}

.career-description {
    margin-top: 15px;
    font-size: 0.85em;
    text-align: justify;
}


/*GESTIONE CONTACTS*/
.contact-list {
    list-style-type: none;
    /* Rimuove i pallini dalla lista */
    padding: 0;
    /* Rimuove il padding predefinito dalla lista */
    color: #000000;
    /* Imposta il colore del link a bianco */
}

.contact-list li {
    display: inline-block;
    /* Rende gli elementi della lista orizzontali */
    font-size: 1.1em;
    margin-right: 20px;
    /* Aggiunge un margine tra gli elementi */
}

.contact-info {
    color: rgb(0, 0, 0);
    /* Imposta il colore del testo a bianco */
    margin-left: 5px;
    /* Aggiunge uno spazio tra l'icona e il testo */
}

.contact-list a {
    color: #000000;
    /* Imposta il colore del link a bianco */

}

.contact-list span {
    color: #000000;
    /* Imposta il colore del link a bianco */
    text-decoration: none;
}

.java-purple {
    color: rgb(127, 0, 85);
}

.java-brown {
    color: #a18166;
}

.java-green {
    color: rgb(0, 138, 0);
}

.java-blue {
    color: rgb(31, 31, 255);
}

.java-constant {
    font-style: italic;
    font-weight: bold;
}

.java-function {
    text-decoration: none;
    color: #000;
}

.java-function:hover {
    color: rgb(39, 90, 255);
    text-decoration: underline;
    cursor: pointer;
    position: relative;
}

.python-yellow{
    color: rgb(220, 220, 165);
}

.python-red{
    color: rgb(231, 138, 110);
}

.javascript-green {
    color: #008000; /* green */
}

.cpp-orange {
    color: #FFA500; /* orange */
}

.c-purple {
    color: #800080; /* purple */
}
.hidden {
    display: none;
}




.project-technologies ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: .75rem;
}

.project-technologies li {
    border-radius: 0.375rem;
    padding: 5px 10px;
    /* margine: alto, destra, basso, sinistra */
    margin: 10px 4px 2px 0px;
}

.project-header{
    display: flex;
    width: 100%;
}

.warning{
    align-self: flex-end; 
    margin-left: auto;
    color: darkred;
}

.university{
    align-self: flex-end; 
    margin-left: auto;
    color: darkblue;
}

.project-technologies li:last-child {
    margin-right: 0;
}

.green {
    background-color: rgba(196, 240, 200, 0.897);
    color: rgba(0, 85, 7, 0.897);
}

.red {
    background-color: rgb(255, 199, 199);
    color: rgb(97, 0, 0);
}

.blue {
    background-color: rgb(216, 237, 255);
    color: rgb(0, 53, 100);
}

.yellow {
    background-color: rgb(248, 247, 159);
    color: rgb(110, 109, 0);
}

.purple {
    background-color: rgb(237, 191, 255);
    color: rgb(123, 23, 143);
}

.orange {
    background-color: rgb(255, 211, 144);
    color: rgb(211, 130, 24);
}

.pink {
    background-color: rgb(255, 199, 236);
    color: rgb(131, 9, 115);
}

.yellow-green {
    background-color: rgb(238, 255, 164);
    color: rgb(112, 148, 12);
}


.blue-green {
    background-color: rgb(203, 255, 229);
    color: rgb(26, 129, 90);
}

@media screen and (min-width: 768px) and (min-height: 681px) {
    #home {
        height: 100vh;
    }
}

@media screen and (min-width: 768px) and (max-height: 680px) {
    #home {
        height: 120vh;
    }

}

@media screen and (max-width: 900px) {
    body {
        overflow: auto;
        scroll-behavior: smooth;
        overscroll-behavior: contain;
        scrollbar-width: thin;
        scrollbar-color: #888 #f1f1f1;
    }

    #home {
        height: 100vh;
    }

    section {
        margin-bottom: 75px;
    }
}

section {
    margin-bottom: 150px;
}


/* Font size for large screens 
@media (min-width: 1201px) {
    #contentDiv {
        font-size: 1.3em;
    }

    .animated-arrow {
        font-size: 40px;
    }
}
*/
.code-header{
    margin: 0px; 
    height: 35px;
    border-radius: 5px 5px 0px 0px; 
    padding: 3px; 
    font-size: 0.75rem; 
    background-color: #272822;
    display: flex; /* Utilizza flexbox */
    align-items: center; /* Centra verticalmente */
    justify-content: left; /* Centra orizzontalmente */
}
#code-language{
    color: #cdcdcd; 
    font-size: 0.75rem; 
    padding: 15px;
}
.code-block {
    background-color:rgb(13 13 13);
    color: #f8f8f2;
    padding-left: 20px;
    border-radius: 0px 0px 5px 5px;
    overflow-x: auto;
}

.code-block pre {
    margin: 0;
}

.code-block code {
    display: block;
}

.code-block .keyword {
    color: #f92672;
}

.code-block .function-name {
    color: #a6e22e;
}

.code-block .parameter {
    color: #fd971f;
}

.code-block .variable {
    color: #f8f8f2;
}

.code-block-green{
    color: #00a67d;
}
.code-block-orange{
    color:#e9950c;
}
.code-block-pink{
    color: #df3079;
}
.code-block-red{
    color: #f22c3d;
}


.search-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 85%;
    margin-left: auto; /* Aggiungi margin-left: auto per centrare l'elemento quando la larghezza non è al 100% */
    margin-right: auto;
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 24px;
    flex-grow: 1;
    font-size: 18px;
    background-color: white;
}

.search-button {
    width: 40px; /* Imposta la larghezza del bottone */
    height: 40px; /* Imposta l'altezza del bottone */
    border-radius: 50%; /* Rendi il bottone circolare */
    background: black;
    color: white;
    border: none;
    padding: 0;
    margin-left: 10px;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.search-button .material-symbols-outlined {
    font-size: 35px; /* Imposta la dimensione del testo */
    cursor: default;
}



.search-button svg {
    display: block;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blink {
    border-right: 2px solid black;
    animation: blink 1s step-start infinite;
}

.square {
    width: 14px;
    height: 14px;
    background-color: white;
}

