body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    height: 100%;
    font-family: 'Poppins', sans-serif;
    /*background-image: url("/public/images/screenshot.png");*/
}

#container {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.5s ease; 
}

 @media screen and (min-width: 768px) {
    section {
        height: 100vh; 
    }
  }
  @media screen and (max-width: 767px) {
    body {
        overflow: auto;
        scroll-behavior: smooth; 
        overscroll-behavior: contain;
        scrollbar-width: thin; 
        scrollbar-color: #888 #f1f1f1; 
    }
    #home{
       height: 100vh;
    }
    section{
        margin-bottom: 75px;
    }
  }
  

header {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
}
.navbar-toggler {
    border: 0;
}
.navbar{
    --bs-navbar-toggler-focus-width: none;
}
button{
    border: none;
}
.navbar{
    position: fixed;
    top: 0;
    align-self: center;
    width: 100%;
}
.navbar-brand{
    font-size: 1.5em;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.navbar .navbar-collapse {
    text-align: center;
    vertical-align: baseline;
    border: 0;
}
.nav-link {
    color: #000000; 
    font-size: 1.2em; 
    font-weight: normal;
    transition: transform 0.2s ease-in-out;
}
.nav-link {
    position: relative;
    display: inline-block; 
    text-decoration: none;
    color: inherit;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.2s ease-in-out; 
}

.nav-link:hover::after {
    width: 100%;
}


.navbar-color{
  background-color: rgba(234, 246, 253, 0.95);
}


/*GESTIONE DELLE CARD PER LE SKILL SECTION*/
.skill-section{
    box-shadow: 2px 3px 5px 1px rgba(0.1, 0.1, 0.1, 0.1);
    border-radius: 15px;
    padding: 15px;
    transition: transform 0.5s ease;
}

.skill-items{
    justify-content: center;
    align-items: center;
}

.skill-item {
    justify-content: center; 
    align-items: center; 
    width: 100px;
    height: 80px;
    /*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 5px;*/
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.skill-section:hover {
    transform: scale(1.05); 
}

.skill-item img {
    max-height: 40px; 
    width: auto;
    margin: 0px;
}

.skill-item p {
    font-size: 13px;
    margin: 0;
}

/*GESTIONE DELLE CARD PER I PROGETTI SECTION*/
.project-section{
    position: relative;
    box-shadow: 2px 3px 5px 1px rgba(0.1, 0.1, 0.1, 0.1);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
    height: 100%;
}

.project-section:hover {
    transform: scale(1.05); 
}

.project-header {
    display: flex; 
    align-items: center; 
}

.project-header img {
    width: 40px; 
    height: 40px; 
    margin-right: 10px; 
    border-radius: 50px;
}

.project-description{
    font-size: 0.85em;
    margin: 3%;
    text-align: justify;
}

.project-slideshow {
    position: relative;
    max-width: 150px;
    margin: auto;
    margin-bottom: 10px;
}
.project-slide {
    border-radius: 10px;
    display: none;
    height: 350px;
    margin-bottom: 15px;
    border: 1px solid black;
    transform: rotateY(90deg);
    transition: transform 1s;
}
@keyframes flipIn {
    from { transform: rotateY(90deg); }
    to { transform: rotateY(0); }
}

@keyframes flipOut {
    from { transform: rotateY(0); }
    to { transform: rotateY(90deg); }
}

.project-button-container {
    align-self: flex-end;
}

.btn-more {
    border-radius: 20px;
    background-color: #ffffff; 
    padding: 8px 15px; 
    font-size: 14px; 
    text-decoration: none; 
    color: #000000; 
    border: 1px solid black;
    transition: background-color 0.5s, color 0.5s;
}

.btn-more:hover {
    background-color: black;
    color: #fff; 
}
.btn-more:hover i{
    background-color: rgb(255, 255, 255);
    color: #000000; 
}

.btn-more i {
    display: inline-block; 
    background-color: black; 
    border-radius: 50px; 
    padding: 5px; 
    margin-left: 5px; 
    color: #fff; 
    transition: background-color 0.5s, color 0.5s;
}


/*GESTIONE DELLE CARD PER LE WORK SECTION*/
.career-section{
    box-shadow: 2px 3px 5px 1px rgba(0.1, 0.1, 0.1, 0.1);
    border-radius: 15px;
    padding: 15px;
    transition: transform 0.5s ease;
}
.career-section:hover {
    transform: scale(1.05); 
}
.career-body {
    display: flex; 
    align-items: top; 
}
.career-details {
    display: flex; /* Utilizza il flexbox */
    flex-direction: column; /* Imposta la direzione del layout a colonna */
    align-items: flex-start; /* Allinea gli elementi sulla sinistra */
}

.career-details > * {
    margin-top: 0; /* Rimuove il margine superiore dagli elementi figlio */
    margin-bottom: 0;
}


.career-img {
    width: 50px; 
    height: 50px; 
    margin-right: 10px; 
    border-radius: 50px;
}

.career-title {
    font-weight: bold; 
    font-size: 1.1em; 
    text-align: left;
}

.career-subtitle {
    font-size: 1em; 
    text-align: left;
}

.career-period{
    font-size: 0.9em;
    text-align: left;
}
.career-place{
    font-size: 0.9em;
    text-align: left;
}
.career-description {
    margin-top: 15px;
    font-size: 0.85em;
    text-align: justify;
}


/*GESTIONE CONTACTS*/
.contact-list {
    list-style-type: none; /* Rimuove i pallini dalla lista */
    padding: 0; /* Rimuove il padding predefinito dalla lista */
    color: #000000; /* Imposta il colore del link a bianco */
}

.contact-list li {
    display: inline-block; /* Rende gli elementi della lista orizzontali */
    font-size: 1.1em;
    margin-right: 20px; /* Aggiunge un margine tra gli elementi */
}

.contact-info {
    color: rgb(0, 0, 0); /* Imposta il colore del testo a bianco */
    margin-left: 5px; /* Aggiunge uno spazio tra l'icona e il testo */
}
.contact-list a {
    color: #000000; /* Imposta il colore del link a bianco */

}
.contact-list span {
    color: #000000; /* Imposta il colore del link a bianco */
    text-decoration: none;
}

.java-purple{
    color: rgb(127, 0, 85);
}
.java-brown{
    color: #a18166;
}
.java-green{
    color: rgb(0, 138, 0);
}
.java-blue{
    color: rgb(31, 31, 255);
}
.java-function{
    text-decoration: none;
    color: #000;
}
.java-function:hover {
    color: rgb(39, 90, 255); 
    text-decoration: underline; 
    cursor: pointer; 
    position: relative;
}
.eat-function:hover::after {
    content: "Tortellini are my favourite food 🤤"; 
    display: block; 
    position: absolute; 
    top: 100%; 
    left: 0; 
    padding: 5px; 
    background-color: #FFFFCC; 
    border: 1px solid #000; 
    margin: 5px;
    font-style: italic;
    color: #000;
    font-weight: lighter;
}
.playBasketball-function:hover::after {
    content: "I love playing basketball 🏀"; 
    display: block;
    position: absolute;
    top: 100%;
    left: 0; 
    padding: 5px; 
    background-color: #FFFFCC; 
    border: 1px solid #000; 
    font-style: italic;
    color: #000;
    font-weight: lighter;
}
.living-function:hover::after {
    content: "I live in Savignano Sul Panaro, a little town in the countryside of Modena";
    display: block; 
    position: absolute; 
    top: 100%;
    left: 0; 
    padding: 5px;
    background-color: #FFFFCC;
    border: 1px solid #000; 
    margin: 5px;
    font-style: italic;
    color: #000;
    font-weight: lighter;
    white-space: pre-wrap;
}
